body {
    font-family: 'ComicKhazi', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
    background-color: #FDAE3B;
}

a {
    color: black;
}