@media (max-width: 720px) {
    /* mobile-device-anzeige */

    #gameScreenWrapper {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

}

/* Ab width 600px nur noch landscape, landscape kein Titel*/

@media (orientation: landscape) {
    h1 {
        display: none;
    }

}
