

@font-face {
    font-family: 'ComicKhazi';
    src: url('../fonts/ComicKhazi.ttf') format('truetype');
}




body {
    font-family: 'ComicKhazi', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    background-image: url('../img/assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#startScreen {
    width: 820px;
    height: 480px;
    background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    position: relative;
}


.icon-container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.icon {
    width: 30px;
    margin-right: 24px;
}


.icon:hover {
    cursor: pointer;
}

.start-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #FFDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9A3A17;
    border-radius: 10px;
    font-weight: bold;
}

.start-button {
    height: 50px;
    width: 120px;
    letter-spacing: 1px;
    font-size: 16px;
}

.start-button:hover {
    cursor: pointer;
}

.impressum-button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.impressum-button {
    height: 25px;
    width: 180px;
    font-size: 12px;
    margin-bottom: 10px;
}

.impressum-button:hover {
    cursor: pointer;
}

.info-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container,
.instruction-container,
.end-text {
    width: 700px;
    height: 380px;
    background-color: rgba(246, 187, 98, 0.8);
    z-index: 99;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction-container {
    width: 400px;
    height: 320px;
}

.closing-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
}


.closing-icon {
    height: 20px;
    margin-right: 30px;
}

#textBox {
    padding: 20px 60px;
    font-size: 20px;
    height: 200px;
    overflow-y: auto;
}

table {
    margin: 30px 40px;
}

table td {
    padding: 8px;
}

table td:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

table td:last-child {
    padding-left: 20px;
}

td img {
    height: 25px;
}

.next-side-icon {
    height: 20px;
}

.closing-icon:hover,
.next-side-icon:hover {
    cursor: pointer;
}


#canvas {
    background-color: black;
}

#endScreen {
    width: 820px;
    height: 480px;
    background-image: url('../img/5_background/first_half_background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.you-lost-img {
    width: 820px;
    height: 480px;
}

.lost-screen-button-container,
.winner-screen-button-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
}


.end-text-wrapper {
    display: flex;
    justify-content: center;
}

.end-text {
    max-width:  400px;
    max-height: 200px;
    padding: 40px 40px;
    text-align: center;
    margin-top: 40px;
    display: inline;
}


/* Smartphones --------- */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


/* Smartphones --------- */

@media only screen and (max-height: 480px) and (orientation: landscape) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

.d-none {
    display: none;
}



